---
import BaseLayout from './BaseLayout.astro';

import projects from '../data/projects.json';

import { type LayoutProps } from '../types/types';
import Project from '../components/Projects/Project.astro';

type Props = LayoutProps & {
	frontmatter: {
		heroImagePath: string;
		title: string;
		subtitle: string;
	};
};

const { frontmatter } = Astro.props;
---

<BaseLayout
	navs={[
		{ url: '/', title: 'Homepage', dotColor: 'typescript' },
		{ url: '/blog', title: 'Blog', dotColor: 'angular' },
	]}
>
	<div id="blog-container">
		<button data-back-button>
			<svg
				viewBox="-19.04 0 75.803 75.803"
				xmlns="http://www.w3.org/2000/svg"
				fill="#000000"
				width="16"
				height="16"
				style="transform: scale(0.85)"
			>
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<g
						id="Group_64"
						data-name="Group 64"
						transform="translate(-624.082 -383.588)"
					>
						<path
							id="Path_56"
							data-name="Path 56"
							d="M660.313,383.588a1.5,1.5,0,0,1,1.06,2.561l-33.556,33.56a2.528,2.528,0,0,0,0,3.564l33.556,33.558a1.5,1.5,0,0,1-2.121,2.121L625.7,425.394a5.527,5.527,0,0,1,0-7.807l33.556-33.559A1.5,1.5,0,0,1,660.313,383.588Z"
							fill="#0c2c67"></path>
					</g>
				</g></svg
			>
			<span>Back</span>
		</button>
		<div id="blog-hero-image-container">
			<img src={frontmatter.heroImagePath} />
		</div>
		<div id="blog-content-container">
			<h3>{frontmatter.title}</h3>
			<h4>{frontmatter.subtitle}</h4>
			<h6>
				<img src="/images/profile/fitz-3.jpeg" /> Patrick Chiu • {
					frontmatter.date
				}
			</h6>
			<slot />
		</div>
		<div>
			<div style="text-align: center;">
				<h4>What's Next?</h4>
				<h5 style="opacity: 0.6;">Try out some of my side projects below!</h5>
			</div>
			<div class="projects">
				{
					projects.slice(0, 2).map((project) => {
						return <Project {...project} />;
					})
				}
			</div>
		</div>
	</div>
</BaseLayout>

<script is:inline>
	const init = () => {
		const button = document.querySelector('[data-back-button]');
		console.log({ button });
		button?.addEventListener('click', () => {
			window.history.back();
		});
	};
	init();
	document.addEventListener('astro:after-swap', init);
</script>

<style is:global>
	#blog-container {
		max-width: 840px;
		margin: 0 auto;
		[data-back-button] {
			background-color: transparent;
			border: 0px;
			font-size: 18px;
			display: flex;
			align-items: center;
			gap: 0.25rem;
			margin-top: 1rem;
			cursor: pointer;

			span {
				font-family: system-ui, sans-serif !important;
			}

			:hover {
				text-decoration: underline;
			}

			* {
				display: inline-block;
			}
		}

		table {
			border-spacing: 0;
			border: 1px solid var(--color-black-5-30);

			th,
			td {
				border: 1px solid var(--color-black-5-30);
				padding: 0.25rem 0.5rem;
			}

			th {
				background-color: var(--color-black-7);
			}
		}
	}
	#blog-container * {
		font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: 0.01em;
	}
	#blog-container h3 {
		font-weight: 500;
		font-size: 36px;
		line-height: 1.25;
		padding-bottom: 1rem;
	}
	#blog-container h4 {
		font-weight: 500;
		font-size: 24px;
		line-height: 1.25;
		padding-bottom: 0.75rem;
	}
	#blog-container h5 {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		margin: 6px 0;
		padding-bottom: 0.5rem;
	}
	#blog-container h6 {
		font-size: 14px !important;
		color: rgba(0, 0, 0, 0.6);
		font-weight: 200;
		margin: 6px 0;

		display: flex;
		align-items: center;
		gap: 0.5rem;

		img {
			display: inline-block;
			border-radius: 50%;
			width: 24px;
			height: 24px;
		}
	}
	#blog-container p > code,
	#blog-container pre {
		padding: 2px 6px;
		background-color: var(--color-black-5-30);
		border-radius: 6px;
		color: #e16300;
	}
	#blog-container pre {
		padding: 0.75rem;
		font-size: 14px;
	}
	#blog-container blockquote {
		margin-block-start: 0.75em;
		margin-block-end: 0.75em;
		margin-inline-start: 1.5em;
		margin-inline-end: 1.5em;
	}
	@media screen and (max-width: 768px) {
		#blog-container blockquote {
			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
			margin-inline-start: 1em;
			margin-inline-end: 1em;
		}
	}
	#blog-container blockquote,
	#blog-container blockquote p {
		color: var(--color-black-4);
	}
	#blog-container blockquote,
	#blog-container blockquote p,
	#blog-container blockquote p a {
		font-style: italic;
	}

	#blog-container .projects {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		gap: 2rem;
		padding: 1rem 2rem;
	}

	#blog-hero-image-container {
		aspect-ratio: 10 / 5.5;
		width: calc(100% - 16px);
		margin: 8px 8px 0 8px;
		border-radius: 24px;
		overflow: hidden;
	}

	#blog-hero-image-container > img {
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
		object-fit: contain;
		/* background-color: var(--color-black-5-20); */
	}

	#blog-content-container {
		padding: 12px 20px 20px;
	}

	#blog-content-container img {
		border-radius: 24px;
		width: 100%;
	}
</style>
